body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
	font-weight: normal;
	text-transform: uppercase;
}

#container {
	margin: 0 auto;
	max-width: 600px;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	margin: 1.6%;
	float: left;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

h1 {
	color: white;
	text-align: center;
	background-color: steelblue;
	margin: 0;

}


.selected {
	background: blue;
}

#colorDisplay {
	font-size: 200%;
}
