body {
	background-color: #232323;
}

#container {
	margin: 0 auto;
	max-width: 600px;
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	margin: 1.6%;
	float: left;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
}

h1 {
	color: white;
}


.selected {
	background: blue;
}

